<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.AdminMapper">
<insert id="insertAdmin">
insert into admin_tb (id, pw, admin_name, phone_number, birth, address, detail_address)
values (#{id}, #{pw}, #{adminName},#{phoneNumber}, #{birth}, #{address}, #{detailAddress})
</insert>

<select id="adminLogin">
select uid, id, pw, auth
from admin_tb
where id=#{id} and delete_yn ='n'
</select>

</mapper>