<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.AuthMapper">
<insert id="insertVerificationCode" parameterType="com.example.models.VerificationCode">
        INSERT INTO verification_codes (phone_number, code, expires_at)
        VALUES (#{phoneNumber}, #{code}, #{expiresAt})
    </insert>
<select id="getVerificationCodeByPhoneNumber">
SELECT * FROM verification_codes WHERE phone_number = #{phoneNumber}
</select>
<delete id="deleteVerificationCode">
DELETE FROM verification_codes WHERE phone_number = #{phoneNumber}
</delete>
</mapper>