<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.CommentMapper">

 <resultMap id="commentResultMap" type="com.example.models.Comment">
    <result property="comment" column="comment"/>
    <result property="userUid" column="userUid"/>
    <result property="productId" column="productId"/>

    <collection property="user" ofType="com.example.models.User">
        <result property="id" column="id"/>
  </collection>
  </resultMap>      
  
<insert id="insertComment">
insert into review_tb(user_uid, product_id, comment)
value (#{userUid}, #{productId}, #{comment})
</insert>

<select id="selectComment" resultMap="commentResultMap">
SELECT 
    r.comment AS comment,
    u.id AS id
FROM review_tb r
LEFT JOIN users_tb u ON r.user_uid = u.uid
WHERE r.product_id = #{productId} and review_deleteyn = 'n'
</select>

<update id="updateComment">
update review_tb
set comment = #{comment}
    where user_uid = #{userUid} and product_id = #{productId} and review_id = #{reviewId} 
</update>
</mapper>
